@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,300&display=swap');

*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(236,233,230,1) 35%);
}
.mobile-container{
    background-color: #fff;
    box-shadow: 0 0 5px #3333331e;
    /* width: 400px; */
    border-radius: 3px;
    overflow: hidden;
}
img{
    max-width: 100%;
}
header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
header input{
    background-color: #efefef;
    border: none;
    font-family: inherit;
    font-weight: 400;
    border-radius: 3px;
    padding: 0.5rem 1rem;
    outline: none;
}
header button {
    background-color: transparent;
    color:#aaa;
    border: none;
    font-size: 1.5rem;
    color: rgb(138, 129, 141);
    margin-left: 10px;
}
.fav-container{
    padding: 0.25rem 1rem;
    background-color: rgba(209, 140, 255, 0.534);
    text-align: center;
}
.fav-meals{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}
.fav-meals li{
    margin: 5px;
    width: 75px;
}
.fav-meals li span{
    font-size: 0.9 rem;
}
.fav-meals li img{
    border: 2px solid rgba(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 5px #3333331e;
    object-fit: cover;
    height:70px;
    width: 70px;
}
.meal{
    border-radius:3px ;
    box-shadow: 0 0 5px #3333331e;
    margin: 1.5rem;
    overflow: hidden;
}
.meal-header{
    position: relative;
}
.meal-header img{
    object-fit: cover;
    height: 250px;
    width: 100%;
}
.meal-header .random{
    position: absolute;
    top: 1rem;
    background-color: #fff;
    padding: 0.25rem 1rem;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.meal-body{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;


}
.meal-body h4{
    margin: 0;
}
.meal-body .fav-btn{
    border: none;
    background-color: transparent;
    font-size: 1.2rem;
    color: rgb(197, 188, 188);
    cursor: pointer;
    outline: none;
}
.meal-body .fav-btn.active{
    color: rebeccapurple;
}




